<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg--12 col-xl-12 col-xxl-12">
            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg--12 col-xl-12 col-xxl-12">

                    <div class="card">
                        <img height="280px" src="https://img.freepik.com/premium-photo/contact-us-concept-business-woman-hand-pointing-icon-email-customer-service-call-center_2034-1944.jpg?w=2000" class="card-img-top" alt="...">
                        
                      </div>
        
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg--12 col-xl-12 col-xxl-12">

                    <h3>Contact us</h3>
                    <h6>NeST DIGITAL CORPORATE OFFICE</h6>
                        <p>Plot No. 2, Cochin Special Economic Zone
                        (CSEZ), Kakkanad, Cochin682 037, India
                        Phone: +91-484-661 4300</p>
                    

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg--12 col-xl-12 col-xxl-12">

                    <h6>FOR BUSINESS RELATED ENQUIRIES</h6>
                    <p>
                        Email: sales.nestdigital@nestgroup.net
                        
                        Ph: +91-484-6701000, +91484-4203333</p>
                    

                </div>

               
               
            </div>
        </div>
    </div>
</div>
