

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg--12 col-xl-12 col-xxl-12">
            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg--12 col-xl-12 col-xxl-12">

                    <div class="card">
                        <img height="280px" src="https://img.freepik.com/premium-photo/contact-us-concept-business-woman-hand-pointing-icon-email-customer-service-call-center_2034-1944.jpg?w=2000" class="card-img-top" alt="...">
                        
                      </div>
        
                </div>

               
               
            </div>
        </div>
    </div>
</div>
